<app-hadar-upload-images (allFilesUploaded)="fetchChartData($event)"></app-hadar-upload-images>
<div class="row" *ngIf="chartConfigs">
  <div class="col-6" *ngFor="let config of chartConfigs">
    <app-category-chart [chartData]="config"></app-category-chart>
  </div>

  <div>
    <app-people-chart [peopleChartData]="peopleChartConfig"></app-people-chart>
  </div>

  <div>
    <app-food-drink-chart [foodChartData]="foodChartConfig" [drinkChartData]="drinkChartConfig"></app-food-drink-chart>
  </div>

</div>

