canvas#chart-food{

    padding-left: 0;
    padding-right: 0;
    margin-left: 350px;
    margin-right: auto;
    display: block;
    width: 1000px;


}

canvas#chart-drink{

    padding-left: 0;
    padding-right: 0;
    margin-left: 350px;
    margin-right: auto;
    display: block;
    width: 1000px;

}
